<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ADD</title>


    <%- include partials/script.ejs %>
        <!-- CUSTOM STYLES -->
        <link rel="stylesheet" href="stylesheets/add.css" />



</head>

<body>

    <%- include partials/loader.ejs %>

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top shadow">
            <!-- <div class="container"> -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active nohover">
                        <a class="navbar-brand" href="/">
                            <h5 class="text-white">
                                <i class="fab fa-expeditedssl"></i>
                                &nbsp CVT</h4>
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            HOME
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            ADD
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/add">MANUAL</a>
                            <a class="dropdown-item" href="/bulk_upload">BULK UPLOAD</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/search">
                            SEARCH
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/download">
                            <i class="fas fa-download"></i>
                        </a>
                    </li>

                    <li class="nav-item dropdown" id="ACT_DD">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-user-circle"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/changePassword">CHANGE PASSWORD</a>
                            <a class="dropdown-item" href="/manageUsers">MANAGE USERS</a>
                            <a class="dropdown-item" href="/logout">LOG OUT</a>
                    </li>

                </ul>
                </div>
                </div>
                <!-- </div> -->
        </nav>

        <div class="container" style="margin-top : 15px; margin-bottom : 15px;">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <form id="frmadd">
                        <!-- ROW 1 -->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="appId">APPLICATION ID</label>
                                <input type="text" class="form-control" id="appId" name="appId" placeholder="ID" autocomplete="off" required>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="appName">APPLICATION NAME</label>
                                <input type="text" class="form-control" id="appName" name="appName" placeholder="Name" autocomplete="off" required>
                            </div>
                        </div>

                        <!-- ROW 2 -->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="envName">ENVIRONMENT</label>
                                <select id="envName" name="envName" class="form-control">
                                    <option selected value="">Choose...</option>
                                    <option value="Production">Production</option>
                                    <option value="Pre-Production">Pre-Production</option>
                                    <option value="Development">Development</option>
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="serverName">SERVER NAME</label>
                                <input type="text" class="form-control" id="serverName" name="serverName" placeholder="Name" autocomplete="off">
                            </div>
                        </div>

                        <!-- ROW 3 -->
                        <div class="form-group">
                            <label for="portfolioName">PORTFOLIO</label>
                            <input type="text" class="form-control" id="portfolioName" name="portfolioName" placeholder="Portfolio" autocomplete="off">
                        </div>

                        <!-- ROW 4 -->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="certName">CERTIFICATE NAME</label>
                                <select id="certName" name="certName" class="form-control">
                                    <option selected value="">Choose...</option>
                                    <div class="dropdown-divider"></div>
                                    <optgroup label="SSL Certificates"></optgroup>
                                    <!-- <h6 class="dropdown-header">SSL Certificates</h6> -->

                                    <option value="Web server authentication certificate">Web server authentication certificate</option>

                                    <option value="Unified Communications (UC or SAN) certificate">Unified Communications (UC or SAN) certificate</option>

                                    <option value="Wildcard certificate">Wildcard certificate</option>

                                    <option value="Extended Validation certificate">Extended Validation certificate</option>

                                    <option value="Low assurance/domain-validated certificate">Low assurance/domain-validated certificate</option>

                                    <option value="Code signing certificate">Code signing certificate</option>

                                    <option value="E-mail certificate">E-mail certificate</option>

                                    <option value="Root signing certificate">Root signing certificate</option>

                                    <option value="Shared SSL certificate">Shared SSL certificate</option>

                                </select>
                            </div>



                            <div class="form-group col-md-6">
                                <label for="expDate">EXPIRY DATE</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="expDate" name="expDate" placeholder="Date" class='datepicker-here' data-language='en'
                                        autocomplete="off" required>
                                    <div class="input-group-prepend bg-white">
                                        <span class="input-group-text border-left-0 rounded-right bg-light" id="basic-addon1">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ROW 5 -->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="primaryName">PRIMARY NAME</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="primaryName" name="primaryName" placeholder="Name" autocomplete="off">
                                    <div class="input-group-prepend bg-white">
                                        <span class="input-group-text border-left-0 rounded-right bg-light" id="basic-addon1">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="primaryPhone">PRIMARY PHONE NUMBER</label>
                                <div class="input-group">
                                    <input type="tel" class="form-control" id="primaryPhone" name="primaryPhone" placeholder="Phone number" autocomplete="off">
                                    <div class="input-group-prepend bg-white">
                                        <span class="input-group-text border-left-0 rounded-right bg-light" id="basic-addon1">
                                            <i class="fas fa-phone"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ROW 6 -->
                        <div class="form-group">
                            <label for="primaryEmail">PRIMARY EMAIL</label>
                            <div class="input-group">
                                <input type="email" class="form-control" id="primaryEmail" name="primaryEmail" placeholder="Email" autocomplete="off" required>
                                <div class="input-group-prepend bg-white">
                                    <span class="input-group-text border-left-0 rounded-right bg-light" id="basic-addon1">
                                        <i class="far fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- ROW 7 -->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="secondaryName">SECONDARY NAME</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="secondaryName" name="secondaryName" placeholder="Name" autocomplete="off">
                                    <div class="input-group-prepend bg-white">
                                        <span class="input-group-text border-left-0 rounded-right bg-light" id="basic-addon1">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="secondaryPhone">SECONDARY PHONE NUMBER</label>
                                <div class="input-group">
                                    <input type="tel" class="form-control" id="secondaryPhone" name="secondaryPhone" placeholder="Phone number" autocomplete="off">
                                    <div class="input-group-prepend bg-white">
                                        <span class="input-group-text border-left-0 rounded-right bg-light" id="basic-addon1">
                                            <i class="fas fa-phone"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ROW 8 -->
                        <div class="form-group">
                            <label for="secondaryEmail">SECONDARY EMAIL</label>
                            <div class="input-group">
                                <input type="email" class="form-control" id="secondaryEmail" name="secondaryEmail" placeholder="Email" autocomplete="off">
                                <div class="input-group-prepend bg-white">
                                    <span class="input-group-text border-left-0 rounded-right bg-light" id="basic-addon1">
                                        <i class="far fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- ROW 9 -->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="alertToolName">ALERT TOOL NAME</label>
                                <input type="text" class="form-control" id="alertToolName" name="alertToolName" placeholder="Tool name" autocomplete="off">
                            </div>
                            <div class="form-group col-md-6" style="text-align: center">
                                <label for="alertMech">ALERT MECHANISM</label>
                                <br>
                                <label class="switch" class="form-control">
                                    <input type="checkbox" name="alertMech" id="alertMech">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>

                        <!-- ROW 10 -->
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">REMARKS</label>
                            <textarea class="form-control" id="textArea" name="remarks" rows="3"> 
                            </textarea>
                        </div>

                        <br>

                        <!-- ROW 11 -->
                        <div class="form-group row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-2" style="text-align: center">
                                <button type="submit" class="btn btn-primary">SUBMIT</button>
                            </div>
                            <div class="col-sm-2" style="text-align: center">
                                <button type="reset" class="btn btn-warning" id="btn_cancel">CLEAR</button>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                    </form>

                    <div class="modal fade" id="CLEAR_MODAL_VIEW" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">CLEAR FORM</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    FORM CLEARED !!
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <%- include partials/footer_all.ejs %>


</body>
<!-- FOOTER SCRIPT -->
<script src="javascript/add.js"></script>

</html>