<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BULK UPLOAD</title>


    <%- include partials/script.ejs %>
        <!-- CUSTOM STYLES -->
        <link rel="stylesheet" href="stylesheets/bulkUpload.css" />



</head>

<body>

    <%- include partials/loader.ejs %>

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top shadow">
            <!-- <div class="container"> -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active nohover">
                        <a class="navbar-brand" href="/">
                            <h5 class="text-white">
                                <i class="fab fa-expeditedssl"></i>
                                &nbsp CVT</h4>
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active text-white">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#INSTRUCTIONS">
                            <i class="fas fa-info"></i>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            HOME
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            ADD
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/add">MANUAL</a>
                            <a class="dropdown-item" href="/bulk_upload">BULK UPLOAD</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/search">
                            SEARCH
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/download">
                            <i class="fas fa-download"></i>
                        </a>
                    </li>

                    <li class="nav-item dropdown" id="ACT_DD">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-user-circle"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/changePassword">CHANGE PASSWORD</a>
                            <a class="dropdown-item" href="/manageUsers">MANAGE USERS</a>
                            <a class="dropdown-item" href="/logout">LOG OUT</a>
                    </li>

                </ul>
                </div>
                </div>
                <!-- </div> -->
        </nav>

        <div class="container" style="margin-top : 40px; margin-bottom : 15px;">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <div class="container" style="padding-top: 15px;padding-bottom:15px">
                        <div class="container">
                            <form id="uploadForm" enctype="multipart/form-data" action="uploadExcel" method="post">
                                <div class="form-row">
                                    <div class="form-group col-xl-9 col-lg-12">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile" name="avatar">
                                            <label class="custom-file-label" for="customFile" id="UPLOAD_LABEL">Choose file</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3 col-lg-12" style="text-align: center">
                                        <button type="submit" name="submit" class="btn btn-primary  float-xl-right float-lg-none" id="BTN_UPLOAD">UPLOAD AND PROCESS
                                            <i class="fas fa-cloud-upload-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <br>
                            <textarea class="form-control" id="TEXT_AREA" rows="10" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>

                            <br>
                            <div style="text-align: center">
                                <button class="btn btn-primary" id="BTN_SYNC">SYNC TO DATABASE
                                    <i class="fas fa-sync"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL INVALID FORMAT -->

        <div class="modal fade" id="FORMAT_MODAL_VIEW" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <i class="fas fa-ban"></i> &nbsp INVALID FILE FORMAT</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        File format '.xlsx' only allowed.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL INSTRUCTION -->

        <div class="modal fade" id="INSTRUCTIONS" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            <i class="fas fa-info-circle"></i> &nbsp INSTRUCTIONS
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p> The following points are worth noting while performing the bulk upload.</p>
                        <ul>
                            <li>Application accepts
                                <strong>Excel</strong> file of format
                                <strong>.xlsx</strong> only and reject any other file format</li>
                            <li>Download the template
                                <a href="/templateDownload">here</a>. Make use of this template alone for bulk upload.
                            </li>
                            <li>Template consists of 16 columns : A - P. Upload fails if you intend to add any extra column.</li>
                            <li>Choose values from the dropdown alone for Columns
                                <strong>C</strong> &
                                <strong>F</strong>. Application doesn't throw error if you add values other than from dropdown but
                                the other pages fails to display the uploaded data correctly.
                            </li>
                            <li>Do not alter the sheetname(s) in the template. By default application uploads the data only from
                                <strong>BULK_UPLOAD</strong> sheet alone.</li>
                            <li>Avoid inclusion of spaces in
                                <strong>APP ID</strong> column. For example APP- 365 or APP -365 are incorrect formats. Use APP-365.</li>
                            <li>Duplicate entries are rejected automatically.The record you intend to upload with
                                <strong>APP ID</strong> and
                                <strong>SERVER</strong> that's pre-existing on Database are considered as duplicate and are rejected.</li>
                            <li>Data duplication within the sheet cannot be controlled.</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <%- include partials/footer_all.ejs %>

</body>
<!-- FOOTER SCRIPT -->
<script src="javascript/bulkUpload.js"></script>

</html>