<table class="table table-hover shadow p-3 mb-5 bg-white rounded" id="userTable">
  <caption>LIST OF USERS</caption>
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col" data-toggle="tooltip" data-placement="top" title="CLICK TO SORT BY USERNAME">Username</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <th scope="row" class="counterCell"></th>
      <td>{{this.username}}</td>
      <td>
        <button type="button" name="modalRemove" username="{{this.username}}" style="padding: 0;border: none;background: none" id="{{this._id}}"
          _rev="{{this._rev}}">
          <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="CLICK TO DELETE"></i>
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>