table {
    counter-reset: tableCount;     
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}

li:hover {
    color: azure;
}

li
{
    margin-right: 30px;
}

#modalViewTarget input, #modalViewTarget textarea:hover {
    cursor:not-allowed
 }

 #modalViewTarget input,  #modalViewTarget textarea {
    background-color : #fcfcfc;
 }

 .datepicker { z-index:99999 !important; }


