<style>
  .text-small {
    font-size: 0.75rem !important;
    line-height: 1.125rem !important;
  }

  .text-gray-dark {
    color: black !important;
  }

  .letter-spacing-1 {
    letter-spacing: 0.0625rem !important;
  }

  .font-w-600 {
    font-weight: 600 !important;
  }

  .font-alt {
    font-family: "Montserrat", sans-serif !important;
  }

  .text-uppercase {
    text-transform: uppercase !important;
  }
</style>

<!-- FOOTER -->
<footer class="pt-5 pb-0">
  <div class="container">
    <div class="row align-items-center pt-5">
      <div class="col text-center">
        <span class="font-alt font-w-600 letter-spacing-1 text-gray-dark text-small text-uppercase">© 2018 IBM. All rights reserved.</span>
      </div>
      <!-- //.col -->
    </div>
    <!-- //.row -->
  </div>
  <!-- //.container -->
</footer>